<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1><%= pageHeader %></h1>
    <a href="/pokemon">back</a>
    <h2>
      <%= pokemon.name[0].toUpperCase() + pokemon.name.slice(1).toLowerCase() %>
    </h2>
    <img src=<%=` ${pokemon.img}.jpg` %> alt=<%=`${pokemon.name}`%> />
  </body>
</html>
